@media screen and ( min-width: 1600px )
  .hero
    background: url('../img/hero-bg.png') no-repeat center center / cover

@media screen and ( max-width: 1300px )
  html
    font-size: 15px

@media screen and ( max-width: 1200px )
  html
    font-size: 14px
  .why
    &__col
      width: 50%
    &__card
      width: 49%

@media screen and ( max-width: 1100px )
  html
    font-size: 13px

@media screen and ( max-width: 992px )
  .nav
    position: fixed
    flex-direction: column
    justify-content: space-around
    align-items: center
    top: 0
    left: -100%
    width: 40%
    height: 100vh
    margin: 0
    padding: 2rem 1rem
    background-color: rgba($primary, 0.8)
    transition: 0.6s all
    &--active
      left: 0
    &__item
      margin: 0
      &:first-child
        margin: 0
      &:last-child
        margin: 0
      font-size: 1.5rem
      color: $light
  .hamburger
    display: block
    width: 20px
    height: 18px
    margin-left: 1.5rem
    cursor: pointer
    span
      display: block
      width: 100%
      height: 3px
      background-color: $text-primary
      margin-bottom: 3px
      transition: 0.5s all
    &--active
      span
        margin-bottom: -3px
        &:nth-child(1)
          transform: translateY(6px) rotate(-45deg)
        &:nth-of-type(2)
          display: none
        &:nth-of-type(3)
          transform: translateY(6px) rotate(45deg)
        
          
  .hero
    padding-top: 6rem
    padding-bottom: 25rem
  .why
    &__wrapper
      flex-wrap: wrap
    &__col
      width: 100%
    &__title
      margin-top: -17rem
      margin-left: auto
      margin-right: auto
    &__tag
      justify-content: center
    &__heading
      margin-left: auto
      margin-right: auto
      text-align: center
    &__text
      max-width: 20rem
      margin-left: auto
      margin-right: auto
      text-align: center
    &__row
      flex-wrap: wrap
    &__card
      width: 100%
      max-width: 70%
      margin-top: 4rem
      margin-left: auto
      margin-right: auto
      &:first-child
        margin-bottom: 0
      &-image
        margin-bottom: 3rem
        text-align: center
      &-heading
        text-align: center
      &-text
        text-align: center
  .create
    &__row
      flex-wrap: wrap
    &__col-30
      width: 100%
      margin: 0 auto
    &__title
      margin-left: auto
      margin-right: auto
      text-align: center
      max-width: 25rem
    &__text
      margin-left: auto
      margin-right: auto
      margin-bottom: 2rem
      text-align: center
      max-width: 25rem
  .format
    &__row
      flex-wrap: wrap
      max-width: 45rem
      margin-left: auto
      margin-right: auto
    &__slide
      width: 100%
    &__card
      width: 43%
      margin-bottom: 4rem
  .process
    &__row
      flex-wrap: wrap
    &__card
      width: 45%
      margin-bottom: 4rem
  .lessons
    &__col-50
      width: 90%
    &__swiper
      &-container
        width: 100%
      &-slide
        &-item
          &-text
            max-width: 32rem
        &-descr
          margin-top: 1rem
          margin-bottom: 1rem
          max-width: 32rem
    &__numeration
      display: none
    &-prep
      &__swiper
        &-container
          display: none
  .advantage
    &__row
      justify-content: center
    &__card
      width: 48%
  .cost
    &__col
      &:not(:first-child)
        &::before
          left: -0.5rem
  .results
    &__header
      font-size: 2.2rem
  .questions
    &__form
      max-width: 22.4rem
      flex-direction: column
      align-items: center
      margin-left: auto
      margin-right: auto
    &__input
      &-group
        width: 100%
    &__button
      width: 100%
  .footer
    &__menu
      width: 100%
    &__nav
      &-col
        width: 20%
    &__contacts
      width: 20rem
      margin: 0 auto
      margin-top: 2rem


@media screen and ( max-width: 768px )
  .nav
    width: 50%
  .hero
    &__title
      font-size: 3.5rem
    &__subtitle
      font-size: 2rem
  .create
    &__col-30
      width: 100%
      margin: 0 auto
    &__form
      &-row
        justify-content: center
        width: 80%
        margin-left: auto
        margin-right: auto
        &:first-of-type
          &::after
            display: none
    &__input
      &-group
        width: 20.7rem
        margin-left:  auto
        margin-right: auto
        &:first-child
          margin-right: auto
  .benefit
    &__wrapper
      width: 100%
      overflow: hidden
    &__img
      width: 51.3rem
    &__swiper
      &-container
        &-prev
          display: none
        &-next
          display: none
  .lessons
    padding-top: 3rem
    padding-bottom: 3rem
    &-prep
      &__swiper
        &-container
          margin-bottom: 2rem
    &__line
      margin-bottom: 2rem
    &__bonus
      margin-bottom: 2rem
    &__button
      margin-left: auto
      margin-right: auto
      margin-bottom: 2rem
    &__arrow
      &-block
        &-prev, &-next
          width: 50%
          flex-grow: 0
          justify-content: center
          margin-bottom: 2rem
        &-prev
          order: -2
        &-next
          order: -1
  .advantage
    padding-top: 3rem
    padding-bottom: 2rem
  .reviews
    &__video
      height: 22.4rem
  .results
    &__col
      width: 50%
      &:first-child
        width: 100%
        margin-bottom: 2rem
    &__header
      font-size: 2.25rem
      max-width: 32rem
    &__text
      max-width: 24rem
    &__card
      margin-left: 0
      max-width: 20rem
      &:first-child
        margin-right: 2rem
  .footer
    &__nav
      &-col
        width: 23%
    

@media screen and ( max-width: 576px )
  .button
    &-up
      right: 0
      bottom: 0
      width: 100%
      height: 3rem
      border: none
      border-top: 1px solid $primary
      border-radius: 0
      background-color: rgba($light, 0.8) 
      box-shadow: none
  .nav
    width: 90%
  .hero
    background: url('../img/hero-bg.png') no-repeat right -300px top -75px / 87rem
    &__title
      font-size: 2.3rem
    &__subtitle
      font-size: 1.5rem
    &__block
      flex-wrap: wrap
      &-buttons
        width: 29rem
        margin-right: 0
      &-text
        margin-top: 2rem
        max-width: 80%
    &__button
      width: 100%
  .why
    & > .container
      &::after
        margin-top: 3rem
    &__tag
      &-number
        font-size: 15rem
        line-height: 12rem
  .create
    padding-top: 3rem
    padding-bottom: 3rem
    &__text
      max-width: 20rem
    &__input
      &-group
        margin-bottom: 2.5rem
    &__button
      width: 22rem
  .study
    padding-top: 3.5rem
    padding-bottom: 3.5rem
  .benefit
    background-color: #f8fafc
    &__button
      &-prev
        display: none
      &-next
        display: none
  .simple
    padding-top: 3rem
    &::before
      height: 2rem
    &__button
      min-width: 2rem
      width: 100%
  .format
    padding-top: 3rem
    & > .container
      &::after
        margin-top: 3rem
    &__card
      margin-left: auto
      margin-right: auto
      width: 20rem
      text-align: center
      &-image
        display: flex
        justify-content: center
        align-items: center
  .process
    padding-top: 3rem
    padding-bottom: 3rem
    &__section
      &-header
        text-align: center
        margin-bottom: 3rem
    &__card
      margin-bottom: 2rem
      &-value
        margin-bottom: 1rem
      &-time
        margin-bottom: 1rem
      &-descr
        width: 85%
  .lessons
    &__swiper
      &-slide
        &-title
          margin-bottom: 1rem
        &-descr
          margin-bottom: 1rem
    &__button
      min-width: 61%
    &__bonus
      align-items: center
  .advantage
    &__card
      width: 90%
  .cost
    padding-top: 3rem
    padding-bottom: 2rem
    &::before
      height: 2rem
    &__section
      &-descr
        margin-bottom: 1rem
    &__col
      padding-bottom: 1rem
      padding-top: 1rem
      width: 100%
      &:not(:first-child)
        &::before
          position: absolute
          left: 50%
          top: 0
          transform: translateX(-50%)
          content: ''
          display: block
          width: 80%
          height: 1px
          background-color: $border-line
    &__card
      height: 21rem
  .freevideo
    padding-top: 3rem
    padding-bottom: 3rem
  .reviews
    padding-bottom: 3rem
    padding-top: 3rem
    &__video
      height: 16.9rem
  .results
    padding-top: 3rem
    padding-bottom: 3rem
    &__col
      width: 100%
    &__header
      margin-left: auto
      margin-right: auto
      text-align: center
    &__text
      margin-left: auto
      margin-right: auto
      text-align: center
    &__card
      margin-left: auto
      margin-right: auto
      text-align: center
      &:first-child
        margin-right: auto
        margin-bottom: 2rem
  .cashback
    padding-top: 3rem
    padding-bottom: 3rem
    &__button
      font-size: 0.8rem
      width: 100%
  .questions
    padding-top: 3rem
    padding-bottom: 3rem
  .footer
    &__nav
      &-col
        width: 32%

@media screen and ( max-width: 415px )
  .phone
    font-size: 1.1rem
  .logo
    &__img
      max-width: 1.3rem
    &__text
      font-size: 1.4rem
  .hero
    &__block
      &-buttons
        width: 100%
        margin-right: 0
    &__button
      width: 100%
  .study
    &__text
      max-width: 21rem
  .lessons
    padding-bottom: 2.4rem
    &__swiper
      &-slide
        &-item
          &-text
            font-size: 1.4rem
    &__line
      margin-bottom: 1rem
    &__button
      margin-bottom: 1rem
  .simple
    &__video
      min-height: 200px
  .format
    &__slide
      padding-left: 1.5rem
  .process
    &__card
      width: 65%
      margin-left: auto
      margin-right: auto
  .reviews
    &__video
      height: 14.2rem
  .footer
    padding-top: 3rem
    padding-bottom: 4rem
    &__logo
      margin-left: auto
      margin-right: auto
      margin-bottom: 0
    &__nav
      &-col
        width: 100%
        &:not(:first-child)        
          &::before
            top: -0.1rem
            left: 50%
            transform: translateX(-50%)
      &-item
        margin-left: auto
        margin-right: auto
        margin-bottom: 1rem
        text-align: center
        &:first-child
          margin-top: 1rem
        



// Медиазапрос для Hover эффектов
@media screen and ( min-width: 991px )
  .button
    &--primary
      transition: box-shadow 0.2s
      &:hover
        box-shadow: none
    &--outline
      transition: 0.2s
      &:hover
        color: $light
        background-color: $primary
      &-light
        transition: 0.2s
        &:hover
          box-shadow: 0 0 20px rgba($light, 0.5)
  .logo
    &__text
      &:hover
        color: $primary
  .nav
    &__item
      &:hover
        color: $text-dark
        &::after
          content: ''
          display: block
          position: absolute
          bottom: -2.05rem
          left: 0
          width: 100%
          height: 3px
          background-color: #0056cf
  .phone
    &:hover
      color: $primary
  .simple
    &__video-play
      &:hover
        box-shadow: 0 0 20px rgba($light, 0.5)
  .reviews
    &__video
      &-play
        &:hover
          box-shadow: 0 0 20px rgba($light, 0.5)
  .footer
    &__logo
      transition: 0.3s
      &:hover
        font-weight: 700
        color: $primary
    &__nav
      &-item
        transition: 0.3s
        &:hover
          color: $text-dark
    &__form
      &-img
        transition: 0.3s
        &:hover
          box-shadow: 0 0 24px $primary
    &__social
      &-item
        transition: 0.3s
        &:hover
          box-shadow: 0 0 24px $primary
        
  
