*, *:before, *:after
  box-sizing: border-box
  outline: none

html
  font-size: 16px
  // scroll-behavior: smooth

body
  font-family: 'Roboto', sans-serif
  font-size: 1rem
  font-weight: 300
  color: $text-primary
h1, h2, h3, h4, h5
  margin: 0

.section
  padding: 7.375rem 0
  &-header
    font-size: 2.25rem
    font-weight: 300
    line-height: 1.17
    margin: 0 auto
    text-align: center
    &--bold
      font-weight: 700
  &-descr
    font-size: 1rem
    font-weight: 300
    line-height: 1.5
    margin: 0 auto
    text-align: center

.button
  min-height: 3rem
  font-size: 1rem
  text-transform: uppercase
  font-weight: 700
  border: none
  border-radius: 4px
  cursor: pointer
  &--primary
    letter-spacing: 0.75px
    color: $light
    background-color: $primary
    box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32)
  &--outline
    color: $primary
    background-color: $button-outline-bg
    background: transparent
    border: 1px solid $primary
    &-light
      color: $light
      background: transparent
      border: 1px solid $light
  &-up
    display: none
    position: fixed
    right: 1rem
    bottom: 1rem
    width: 3rem
    height: 3rem
    border: 2px solid $primary
    border-radius: 50%
    background: $light url('../img/scroll-up.svg') no-repeat center
    box-shadow: 0 0 5px $primary
    &:hover
      cursor: pointer
.input
  font-size: 1.2rem
  background-color: $light
  border-radius: 4px
  border: none
  padding: 0.8rem 1rem
  color: $text-secondary
  &::placeholder
    color: $text-secondary
  &-group
    position: relative
div
  &.invalid
    position: absolute
    top: -1rem
    right: 0
    font-size: 0.85rem
    color: tomato
  &.error
    position: absolute
    top: -1rem
    left: 0
    font-size: 0.85rem
    color: tomato
