.simple
  &__section
    &-header
      margin-bottom: 1.3rem
    &-descr
      margin-bottom: 1.2rem
  &__stage
    font-size: 1.5rem
    font-weight: 300
    line-height: 1.2rem
    text-align: center
    margin-bottom: 1.4rem
    &::before
      content: ''
      display: block
      width: 0.3rem
      height: 2.9rem
      background-color: $border-line
      margin: 0 auto
      margin-bottom: 2rem
  &__video
    display: flex
    justify-content: center
    align-items: center
    background: $video-bg url('../img/simple-video.jpg') no-repeat center / cover
    max-width: 59rem
    min-height: 24.2rem
    margin: auto
    margin-top: 5.8rem
    margin-bottom: 4.6rem
  &__subtitle
    font-size: 1.5rem
    font-weight: 700
    text-align: center
    margin-bottom: 1.4rem
  &__text
    max-width: 35.3rem
    font-size: 1rem
    line-height: 1.6
    margin: 0 auto
    margin-bottom: 2.5rem
    text-align: center
  &__button
    display: block
    width: 34.6rem
    margin: 0 auto