.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #061826; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.section {
  padding: 7.375rem 0; }
  .section-header {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.17;
    margin: 0 auto;
    text-align: center; }
  .section-descr {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center; }

.button {
  min-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 4px; }
  .button--primary {
    letter-spacing: 0.75px;
    color: #ffffff;
    background-color: #0842b7;
    -webkit-box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
    box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32); }
  .button--outline {
    color: #0842b7;
    background-color: #e4edf5;
    border: 1px solid #0842b7; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 1.875rem;
  padding-bottom: 1.7rem;
  background-color: #ffffff; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__phone {
    margin-left: 3rem; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none; }
  .logo__img {
    max-width: 1.5625rem; }
  .logo__text {
    margin-left: 0.75rem;
    color: #0f1c2e;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;
    font-variant: small-caps; }

.nav {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .nav__item {
    position: relative;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-decoration: none;
    color: #777777;
    text-transform: uppercase; }
    .nav__item:first-child {
      margin-right: 4.4rem; }
    .nav__item:last-child {
      margin-left: 5.81rem; }
    .nav__item--activ {
      color: #000000; }
      .nav__item--activ::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2.05rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #0056cf; }

.phone {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: #777777; }
  .phone--bold {
    font-weight: 700;
    color: #0f1c2e; }

.hero {
  margin-top: 5.25rem;
  padding-top: 10.6rem;
  padding-bottom: 36.8rem;
  background: url("../img/hero-bg.png") no-repeat center top -75px/100rem; }
  .hero__title {
    margin-bottom: -0.05rem;
    margin-left: -0.35rem;
    font-size: 4.5rem;
    font-weight: 300;
    color: #0f1c2e; }
  .hero__subtitle {
    margin-bottom: 1.45rem;
    font-size: 2.25rem;
    font-weight: 300; }
  .hero__descr {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 4rem;
    line-height: 1.5; }
  .hero__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero__block-buttons {
      margin-right: 3.3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .hero__block-text {
      max-width: 21rem;
      margin: 0;
      margin-top: 0.3rem;
      font-size: 1.5rem;
      line-height: 1.207; }
      .hero__block-text--marker {
        color: #06bee1; }
  .hero__button {
    min-width: 14.9rem; }
    .hero__button:first-child {
      margin-bottom: 0.75rem; }

.why {
  padding-bottom: 7.7rem; }
  .why__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .why__col {
    width: 49%; }
  .why__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .why__title {
    width: 18.375rem;
    height: 4.5rem;
    margin: 0;
    margin-top: -30.6rem;
    margin-bottom: 5rem;
    padding-left: 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.325rem;
    font-weight: 300;
    background-color: #ffffff; }
  .why__tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 4rem; }
    .why__tag-number {
      margin-left: -1.1rem;
      font-size: 21.375rem;
      line-height: 15.56rem;
      font-weight: 100;
      letter-spacing: -17px;
      color: #0f1c2e; }
    .why__tag-symbol {
      font-size: 7rem;
      font-weight: 100;
      line-height: 5.4rem;
      margin-left: 1.8rem;
      color: #06bee1; }
  .why__heading {
    max-width: 17rem;
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    color: #0f1c2e; }
  .why__text {
    max-width: 17rem;
    line-height: 1.5; }
  .why__card {
    width: 47.5%; }
    .why__card:first-child {
      margin-bottom: -1.5rem; }
    .why__card-image {
      margin-bottom: 4.1rem;
      margin-left: 0.2rem; }
    .why__card-heading {
      margin-bottom: 1.6rem;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 300;
      color: #0f1c2e; }
      .why__card-heading--bold {
        font-weight: 700; }
    .why__card-text {
      margin-left: 0.2rem;
      line-height: 1.5; }

.create__section-header {
  max-width: 31rem;
  margin-bottom: 1.35rem; }

.create__section-descr {
  max-width: 22.2rem;
  margin-bottom: 4rem; }

.create__col-30 {
  width: 31.5%; }

.create__title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.21;
  max-width: 17rem;
  margin-bottom: 1.9rem; }
  .create__title--bold {
    font-weight: 700; }

.create__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  max-width: 11.5rem; }

.create__input {
  max-width: 6.125rem;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  border: 1px solid #cfdeee;
  color: #000000; }
  .create__input::-webkit-input-placeholder {
    color: #000000; }
  .create__input::-moz-placeholder {
    color: #000000; }
  .create__input:-ms-input-placeholder {
    color: #000000; }
  .create__input::-ms-input-placeholder {
    color: #000000; }
  .create__input::placeholder {
    color: #000000; }
  .create__input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4.5rem; }

.create__label {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 2rem;
  max-width: 12.5rem; }

.create__button {
  width: 22.6rem;
  display: block;
  margin: 0 auto; }

@media screen and (max-width: 1300px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .why__col {
    width: 50%; }
  .why__card {
    width: 49%; } }

@media screen and (max-width: 1100px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .hero {
    padding-top: 6rem;
    padding-bottom: 25rem;
    background-image: none;
    background-color: #cfdeee; }
  .why__wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .why__col {
    width: 100%; }
  .why__title {
    margin-top: -17rem;
    margin-left: auto;
    margin-right: auto; }
  .why__tag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .why__heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .why__text {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .why__row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .why__card {
    width: 100%;
    max-width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto; }
    .why__card:first-child {
      margin-bottom: 0; }
    .why__card-image {
      margin-bottom: 3rem;
      text-align: center; }
    .why__card-heading {
      text-align: center; }
    .why__card-text {
      text-align: center; }
  .create {
    padding-top: 0; }
    .create__row {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .create__col-30 {
      width: 40%;
      margin: 0 auto; }
      .create__col-30:first-child {
        width: 100%; }
    .create__title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 25rem; }
    .create__text {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      text-align: center;
      max-width: 25rem; } }

@media screen and (max-width: 760px) {
  .hero__title {
    font-size: 3.5rem; }
  .hero__subtitle {
    font-size: 2rem; }
  .create__col-30 {
    width: 51%;
    margin: 0 auto; }
    .create__col-30:first-child {
      width: 100%; } }

@media screen and (max-width: 570px) {
  .hero__title {
    font-size: 2.3rem; }
  .hero__subtitle {
    font-size: 1.5rem; }
  .hero__block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .hero__block-text {
      margin-top: 2rem;
      max-width: 80%; }
  .why__tag-number {
    font-size: 15rem;
    line-height: 12rem; }
  .create__col-30 {
    width: 100%; }
  .create__button {
    width: 22rem; } }

@media screen and (max-width: 420px) {
  .phone {
    font-size: 1.1rem; }
  .logo__img {
    max-width: 1.3rem; }
  .logo__text {
    font-size: 1.4rem; }
  .hero__block-buttons {
    width: 100%;
    margin-right: 0; }
  .hero__button {
    width: 100%; } }

@media screen and (min-width: 991px) {
  .button:hover {
    cursor: pointer; }
  .button--primary {
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
    .button--primary:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .button--outline {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .button--outline:hover {
      color: #ffffff;
      background-color: #0842b7; }
  .nav__item:hover {
    color: #000000; }
    .nav__item:hover::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2.05rem;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #0056cf; } }
