.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #061826; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.section {
  padding: 7.375rem 0; }
  .section-header {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.17;
    margin: 0 auto;
    text-align: center; }
    .section-header--bold {
      font-weight: 700; }
  .section-descr {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center; }

.button {
  min-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 4px; }
  .button--primary {
    letter-spacing: 0.75px;
    color: #ffffff;
    background-color: #0842b7;
    -webkit-box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
    box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32); }
  .button--outline {
    color: #0842b7;
    background-color: #e4edf5;
    background: transparent;
    border: 1px solid #0842b7; }
    .button--outline-light {
      color: #ffffff;
      background: transparent;
      border: 1px solid #ffffff; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 1.875rem;
  padding-bottom: 1.7rem;
  background-color: #ffffff; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__phone {
    margin-left: 3rem; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none; }
  .logo__img {
    max-width: 1.5625rem; }
  .logo__text {
    margin-left: 0.75rem;
    color: #0f1c2e;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;
    font-variant: small-caps; }

.nav {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .nav__item {
    position: relative;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-decoration: none;
    color: #777777;
    text-transform: uppercase; }
    .nav__item:first-child {
      margin-right: 4.4rem; }
    .nav__item:last-child {
      margin-left: 5.81rem; }
    .nav__item--activ {
      color: #000000; }
      .nav__item--activ::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2.05rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #0056cf; }

.phone {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: #777777; }
  .phone--bold {
    font-weight: 700;
    color: #0f1c2e; }

.hero {
  margin-top: 5.25rem;
  padding-top: 10.6rem;
  padding-bottom: 36.8rem;
  background: url("../img/hero-bg.png") no-repeat center top -75px/100rem; }
  .hero__title {
    margin-bottom: -0.05rem;
    margin-left: -0.35rem;
    font-size: 4.5rem;
    font-weight: 300;
    color: #0f1c2e; }
  .hero__subtitle {
    margin-bottom: 1.45rem;
    font-size: 2.25rem;
    font-weight: 300; }
  .hero__descr {
    max-width: 22rem;
    margin: 0;
    margin-bottom: 4rem;
    line-height: 1.5; }
  .hero__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero__block-buttons {
      margin-right: 3.3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .hero__block-text {
      max-width: 21rem;
      margin: 0;
      margin-top: 0.3rem;
      font-size: 1.5rem;
      line-height: 1.207; }
      .hero__block-text--marker {
        color: #06bee1; }
  .hero__button {
    min-width: 14.9rem; }
    .hero__button:first-child {
      margin-bottom: 0.75rem; }

.why {
  padding-bottom: 7.7rem; }
  .why__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .why__col {
    width: 49%; }
  .why__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .why__title {
    width: 18.375rem;
    height: 4.5rem;
    margin: 0;
    margin-top: -30.6rem;
    margin-bottom: 5rem;
    padding-left: 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.325rem;
    font-weight: 300;
    background-color: #ffffff; }
  .why__tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 4rem; }
    .why__tag-number {
      margin-left: -1.1rem;
      font-size: 21.375rem;
      line-height: 15.56rem;
      font-weight: 100;
      letter-spacing: -17px;
      color: #0f1c2e; }
    .why__tag-symbol {
      font-size: 7rem;
      font-weight: 100;
      line-height: 5.4rem;
      margin-left: 1.8rem;
      color: #06bee1; }
  .why__heading {
    max-width: 17rem;
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    color: #0f1c2e; }
  .why__text {
    max-width: 17rem;
    line-height: 1.5; }
  .why__card {
    width: 47.5%; }
    .why__card:first-child {
      margin-bottom: -1.5rem; }
    .why__card-image {
      margin-bottom: 4.1rem;
      margin-left: 0.2rem; }
    .why__card-heading {
      margin-bottom: 1.6rem;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 300;
      color: #0f1c2e; }
      .why__card-heading--bold {
        font-weight: 700; }
    .why__card-text {
      margin-left: 0.2rem;
      line-height: 1.5; }

.create {
  padding-bottom: 7.5rem; }
  .create__section-header {
    max-width: 31rem;
    margin-bottom: 1.35rem; }
  .create__section-descr {
    max-width: 22.2rem;
    margin-bottom: 4rem; }
  .create__col-30 {
    width: 31.5%; }
  .create__title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.21;
    max-width: 17rem;
    margin-bottom: 1.9rem; }
    .create__title--bold {
      font-weight: 700; }
  .create__text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 11.5rem; }
  .create__input {
    max-width: 6.125rem;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    border: 1px solid #cfdeee;
    color: #000000; }
    .create__input::-webkit-input-placeholder {
      color: #000000; }
    .create__input::-moz-placeholder {
      color: #000000; }
    .create__input:-ms-input-placeholder {
      color: #000000; }
    .create__input::-ms-input-placeholder {
      color: #000000; }
    .create__input::placeholder {
      color: #000000; }
    .create__input-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 4.5rem; }
  .create__label {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 2rem;
    max-width: 12.5rem; }
  .create__button {
    width: 22.6rem;
    display: block;
    margin: 0 auto; }

.study {
  padding-top: 7.55rem;
  padding-bottom: 7.44rem;
  background: url("../img/study-bg.jpg") no-repeat center/cover; }
  .study__wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 29rem; }
  .study__text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.15rem; }
    .study__text--marker {
      color: #06bee1; }
  .study__button {
    width: 14rem;
    letter-spacing: 0.6px; }

.benefit {
  height: 57rem;
  background-color: #eaf1f7; }
  .benefit__section-header {
    max-width: 30rem; }
  .benefit__wrapper {
    position: relative;
    width: 51.3rem;
    height: 44.5rem;
    margin: 0 auto; }
  .benefit__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%; }
  .benefit__button-prev {
    position: absolute;
    bottom: 16.25rem;
    left: 3.125rem;
    outline: none; }
  .benefit__button-next {
    position: absolute;
    bottom: 16.25rem;
    right: 3.125rem;
    outline: none; }
  .benefit__swiper-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 19.7rem;
    overflow: hidden; }
    .benefit__swiper-container-prev {
      position: absolute;
      z-index: 99;
      bottom: 14.3rem;
      left: 3.125rem;
      max-width: 10rem;
      overflow: hidden; }
    .benefit__swiper-container-next {
      position: absolute;
      z-index: 99;
      bottom: 14.3rem;
      right: 3.125rem;
      max-width: 10rem;
      overflow: hidden; }
  .benefit__swiper-wrapper {
    margin: 0 auto; }
  .benefit__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 8.125rem; }
    .benefit__slide-image {
      max-width: 9.5rem;
      margin-bottom: 2.75rem; }
    .benefit__slide-icon {
      width: 100%; }
    .benefit__slide-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.6rem; }
    .benefit__slide-text {
      text-align: center;
      line-height: 1.5; }
      .benefit__slide-text-prev {
        text-align: left; }
      .benefit__slide-text-next {
        text-align: right; }

.simple__section-header {
  margin-bottom: 1.3rem; }

.simple__section-descr {
  margin-bottom: 1.2rem; }

.simple__stage {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2rem;
  text-align: center;
  margin-bottom: 1.4rem; }
  .simple__stage::before {
    content: '';
    display: block;
    width: 0.3rem;
    height: 2.9rem;
    background-color: #eaf1f7;
    margin: 0 auto;
    margin-bottom: 2rem; }

.simple__video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2f2f2 url("../img/simple-video.jpg") no-repeat center/cover;
  max-width: 59rem;
  min-height: 24.2rem;
  margin: auto;
  margin-top: 5.8rem;
  margin-bottom: 4.6rem; }

.simple__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.4rem; }

.simple__text {
  max-width: 35.3rem;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  text-align: center; }

.simple__button {
  display: block;
  width: 34.6rem;
  margin: 0 auto; }

.format {
  padding-bottom: 9.7rem; }
  .format__section-header {
    margin-bottom: 3.8rem; }
  .format__slide {
    width: 48.7%;
    padding: 11.1rem 2.94rem 2.5rem;
    margin-bottom: 4rem; }
    .format__slide:first-child {
      background: url("../img/format-1.jpg") no-repeat center/cover; }
    .format__slide:last-child {
      background: url("../img/format-2.jpg") no-repeat center/cover; }
    .format__slide-title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
      color: #ffffff;
      margin-bottom: 1.6rem; }
    .format__slide-text {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      color: #ffffff; }
  .format__card {
    width: 23.2%; }
    .format__card-image {
      height: 4.7rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 2.8rem; }
    .format__card-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.6rem;
      color: #0f1c2e; }
    .format__card-text {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      color: #061826; }

.process {
  padding-top: 3.875rem;
  padding-bottom: 7.25rem;
  background: url("../img/process-bg.png") no-repeat center/cover; }
  .process__section-header {
    text-align: left;
    max-width: 29rem;
    margin-left: 0;
    margin-bottom: 6.4rem; }
  .process__card {
    width: 23%; }
    .process__card-value {
      font-size: 2.3rem;
      font-weight: 700;
      color: #000000;
      margin-bottom: 1.8rem; }
    .process__card-time {
      font-size: 1.5rem;
      font-weight: 300;
      color: #0f1c2e;
      margin-bottom: 1.6rem; }
    .process__card-descr {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      color: #061826;
      width: 64%; }

.lessons {
  padding-top: 6.9rem;
  padding-bottom: 7.4rem;
  background-image: -o-radial-gradient(#03256c, #061826);
  background-image: radial-gradient(#03256c, #061826); }
  .lessons__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .lessons__col-50 {
    width: 48.7%; }
  .lessons__swiper-container {
    width: 90%;
    overflow: hidden; }
  .lessons__swiper-slide-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 4.2rem; }
  .lessons__swiper-slide-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2rem; }
  .lessons__swiper-slide-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 1rem; }
    .lessons__swiper-slide-item-marker {
      font-size: 1rem;
      line-height: 2;
      color: #68799a;
      text-transform: uppercase;
      margin-right: 1rem; }
  .lessons__swiper-slide-descr {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #68799a;
    margin-top: 2.9rem;
    margin-left: 1.8rem; }
  .lessons__swiper-pagination {
    margin-left: 3.3rem; }
  .lessons__numeration {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 3.9rem; }
  .lessons__number {
    font-size: 1rem;
    font-weight: 300;
    color: #68799a; }
  .lessons-prep__swiper-container {
    width: 90%;
    overflow: hidden;
    margin-bottom: 4rem; }
  .lessons-prep__swiper-slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2.3rem; }
  .lessons-prep__swiper-slide-item {
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff; }
    .lessons-prep__swiper-slide-item-marker {
      font-size: 1rem;
      line-height: 1.5;
      color: #68799a;
      text-transform: uppercase;
      margin-right: 1rem; }
  .lessons__line {
    max-width: 28.5rem;
    width: 100%;
    height: 1px;
    background-color: #26556c;
    opacity: 0.5;
    margin-bottom: 4.7rem; }
  .lessons__bonus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 5.8rem; }
    .lessons__bonus-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 1.7rem; }
    .lessons__bonus-descr {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      color: #68799a;
      margin-left: 1.8rem;
      max-width: 21rem; }
  .lessons__button {
    width: 16.4rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .lessons__arrow-block-prev, .lessons__arrow-block-next {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .lessons__arrow-block-prev {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .lessons__arrow-block-next {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.swiper-pagination-bullet {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #68799a;
  line-height: 2.4;
  opacity: 1;
  background: transparent; }
  .swiper-pagination-bullet-active {
    color: #ffffff;
    background: #06bee1; }

.swiper-button-disabled {
  opacity: 0.5; }

@media screen and (max-width: 1300px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; }
  .why__col {
    width: 50%; }
  .why__card {
    width: 49%; } }

@media screen and (max-width: 1100px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 992px) {
  .nav {
    display: none; }
  .hero {
    padding-top: 6rem;
    padding-bottom: 25rem; }
  .why__wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .why__col {
    width: 100%; }
  .why__title {
    margin-top: -17rem;
    margin-left: auto;
    margin-right: auto; }
  .why__tag {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .why__heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .why__text {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .why__row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .why__card {
    width: 100%;
    max-width: 70%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto; }
    .why__card:first-child {
      margin-bottom: 0; }
    .why__card-image {
      margin-bottom: 3rem;
      text-align: center; }
    .why__card-heading {
      text-align: center; }
    .why__card-text {
      text-align: center; }
  .create {
    padding-top: 0; }
    .create__row {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .create__col-30 {
      width: 40%;
      margin: 0 auto; }
      .create__col-30:first-child {
        width: 100%; }
    .create__title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 25rem; }
    .create__text {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      text-align: center;
      max-width: 25rem; }
  .format__row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .format__slide {
    width: 100%; }
  .format__card {
    width: 49%;
    margin-bottom: 4rem; }
  .process__row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .process__card {
    width: 45%;
    margin-bottom: 4rem; }
  .lessons__col-50 {
    width: 90%; }
  .lessons__swiper-container {
    width: 100%; } }

@media screen and (max-width: 760px) {
  .hero__title {
    font-size: 3.5rem; }
  .hero__subtitle {
    font-size: 2rem; }
  .create__col-30 {
    width: 51%;
    margin: 0 auto; }
    .create__col-30:first-child {
      width: 100%; }
  .benefit__wrapper {
    width: 100%;
    overflow: hidden; }
  .benefit__img {
    width: 51.3rem; }
  .benefit__swiper-container-prev {
    display: none; }
  .benefit__swiper-container-next {
    display: none; }
  .benefit__button-prev {
    display: none; }
  .benefit__button-next {
    display: none; }
  .lessons {
    padding-top: 3rem; }
    .lessons-prep__swiper-container {
      margin-bottom: 2rem; }
    .lessons__line {
      margin-bottom: 2rem; }
    .lessons__bonus {
      margin-bottom: 2rem; }
    .lessons__button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem; }
    .lessons__arrow-block-prev, .lessons__arrow-block-next {
      width: 50%;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      margin-bottom: 2rem; }
    .lessons__arrow-block-prev {
      -webkit-box-ordinal-group: -1;
      -webkit-order: -2;
      -ms-flex-order: -2;
      order: -2; }
    .lessons__arrow-block-next {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1; } }

@media screen and (max-width: 570px) {
  .hero__title {
    font-size: 2.3rem; }
  .hero__subtitle {
    font-size: 1.5rem; }
  .hero__block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .hero__block-text {
      margin-top: 2rem;
      max-width: 80%; }
  .why__tag-number {
    font-size: 15rem;
    line-height: 12rem; }
  .create__col-30 {
    width: 100%; }
  .create__button {
    width: 22rem; }
  .simple__button {
    display: none; }
  .format__card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center; }
  .lessons__swiper-slide-descr {
    margin-bottom: 1rem; }
  .lessons__numeration {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .lessons__number {
    width: 100%;
    margin-bottom: 1rem; }
  .lessons__swiper-pagination {
    margin-left: 0; } }

@media screen and (max-width: 420px) {
  .phone {
    font-size: 1.1rem; }
  .logo__img {
    max-width: 1.3rem; }
  .logo__text {
    font-size: 1.4rem; }
  .hero__block-buttons {
    width: 100%;
    margin-right: 0; }
  .hero__button {
    width: 100%; }
  .format__slide {
    padding-left: 1.5rem; }
  .process__card {
    width: 65%;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 991px) {
  .button:hover {
    cursor: pointer; }
  .button--primary {
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
    .button--primary:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .button--outline {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .button--outline:hover {
      color: #ffffff;
      background-color: #0842b7; }
    .button--outline-light {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .button--outline-light:hover {
        color: #0842b7;
        border-color: #0842b7; }
  .logo__text:hover {
    color: #0842b7; }
  .nav__item:hover {
    color: #000000; }
    .nav__item:hover::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2.05rem;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #0056cf; }
  .phone:hover {
    color: #0842b7; }
  .benefit__button-prev:hover, .benefit__button-next:hover {
    cursor: pointer; }
  .simple__video-play:hover {
    cursor: pointer; } }
